<h1>Welcome to Our Train Center</h1>

<div class='col-md-3'>
  <h1>Trains</h1>

  <ul>
  <% @trains.each do |train| %>
    <li><a href="/<%= @user %>/trains/<%= train.id %>"><%= train.line %></a></li>
  <% end %>
  </ul>

  <% if @user == "operator" %>
    <a href="/trains/new" type="button" class="btn btn-success">Add train</a>
  <% end %>
</div>

<div class='col-md-3'>
  <h1>Cities</h1>

  <ul>
  <% @cities.each do |city| %>
    <li><a href="/<%= @user %>/cities/<%= city.id %>"><%= city.name %></a></li>
  <% end %>
  </ul>

  <% if @user == "operator" %>
    <a href="/cities/new" type="button" class="btn btn-success">Add city</a>
  <% end %>
</div>

<div class="col-md-3"><a href="/timetable/allstops!">View timetable</a></div>
